.store{
    h1{
        margin-top: 96px;
        margin-bottom: 33px;
        font-size: 48px;
        font-weight: bold;
        position: relative;
        padding-left: 20px;
        &::before {
            content:'';
            position: absolute;
            width: 10px;
            height: 72px;
            top:0;
            left:0;
            background-color:#9F1213;
            margin-right: 16px;
          }
    }
}
.shop{
    display: flex;
}
.map{
    width: 746px;
    height: 414px;
}
.store-area{
    display: flex;
    margin-bottom: 41px;
    h4{
        font-size: 24px;
        margin-right: 16px;
    }
    select{
        width: 304px;
        font-size: 18px;
        padding: 6px 12px;
    }
}
.zhongshan{
    display: flex;
    flex-wrap: wrap;
    margin-right: 24px;
    h3{
        font-size: 24px;
        padding: 8px 24px;
        border: 1px solid #00000020;
    }
}
.zhongshan-item{
    margin-bottom: 80px;
    img{
        width: 526px;
        height: 224px;
    }
}
.information{
    border: 1px solid #00000020;
    padding: 16px 24px;
    a{
        color: black;
        &:hover{
            transform: scale(1.1);
        }
    }
    li{
        display: flex;
        margin-bottom: 8px;
        font-size: 20px;
        span{
            margin-right: 11px;
        }
         }
    }

@media screen and (max-width: 767px) {
    .store{
        h1{
            font-size: 24px;
            margin-top: 40px;
            margin-bottom: 24px;
            &::before {
                height: 36px;
            }
        }
    }
    .store-area{
        h4{
            font-size: 16px;
        }
        select{
            width: 276px;
        }
    }
    .zhongshan{
        width: 100%;
        margin-right: 0;
    }
    .shop{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .map{
        margin-bottom: 64px;
        width: 100%;
    }
}