@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif,思源黑體; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

a {
  text-decoration: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto; }

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px; }

header {
  background-color: #AA0601; }

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.logo {
  width: 80px; }

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px; }
  .header-menu li {
    padding: 25px 32px; }
    .header-menu li a {
      color: white; }

.header-menu li:hover {
  background-color: #ca130d; }

@media screen and (max-width: 767px) {
  .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 12px 0; }
  .logo {
    padding: 12px 0; }
  .header-menu {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .header-menu li {
      width: 50%;
      padding: 12px 0;
      text-align: center;
      border-top: 1px solid white;
      border-right: 1px solid #FFF; }
    .header-menu a {
      font-size: 16px;
      display: block;
      padding: 12px 0; } }

.call {
  color: white; }

.mail {
  color: white; }

footer {
  background-color: #AA0601; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 32px;
  border-bottom: 1px solid white; }

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 36px; }
  .footer-menu li {
    padding-right: 48px; }
  .footer-menu a {
    color: white;
    font-size: 16px; }

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .icon img {
    max-width: 48px; }
  .icon a {
    display: block; }
    .icon a:hover {
      opacity: 0.8; }

.ml-32 {
  margin-left: 32px; }

.tel {
  font-size: 36px; }
  .tel span {
    font-size: 36px;
    padding-right: 22px; }
  .tel a {
    color: white; }

.copyright {
  color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 0; }

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .service a {
    color: white; }

.pr-48 {
  padding-right: 48px; }

@media screen and (max-width: 767px) {
  .nav {
    padding: 24px 0; }
  .footer-menu {
    display: none; }
  .icon li {
    margin-left: 8px; }
  .icon img {
    max-width: 24px; }
  .tel {
    font-size: 16px; }
    .tel span {
      font-size: 16px;
      padding-right: 11px; }
  .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 16px; }
    .copyright p {
      font-size: 16px; }
  .service {
    font-size: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .service li {
      padding-top: 8px; } }

/*# sourceMappingURL=all.css.map */
