@import url(./_reset.scss);
nav {
  background-color: #650300; }

.blog-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 -12px; }
  .blog-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .blog-menu ul a {
      display: block;
      padding: 13px 48px 13px 0;
      color: #fff;
      font-size: 20px;
      font-weight: bold; }
      .blog-menu ul a:hover {
        opacity: 0.6; }
  .blog-menu span {
    font-size: 30px;
    color: #fff;
    padding-top: 13px; }
    .blog-menu span:hover {
      opacity: 0.7; }

.blog h1 {
  margin-top: 96px;
  margin-bottom: 32px;
  font-size: 48px;
  font-weight: bold;
  position: relative;
  padding-left: 16px; }
  .blog h1::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 72px;
    top: 0;
    left: 0;
    background-color: #9F1213;
    margin-right: 16px; }

.blog-plan li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px; }
  .blog-plan li img {
    width: 636px;
    height: 400px;
    margin-right: 24px; }

.blog-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .blog-txt h2 {
    font-size: 32px;
    color: #650300; }
    .blog-txt h2:hover {
      opacity: 0.6; }
  .blog-txt h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    padding-bottom: 16px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .blog-txt span {
    font-size: 16px; }
  .blog-txt p {
    font-size: 20px; }

.blog-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 36px;
  font-weight: bold;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: auto; }
  .blog-btn a {
    color: #650300; }
    .blog-btn a:hover {
      opacity: 0.6; }

.nextpage {
  margin-bottom: 80px; }

.next-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .next-btn li {
    border: 1px solid #555555; }
    .next-btn li a {
      display: block;
      color: black; }
  .next-btn .number {
    font-size: 18px; }
    .next-btn .number a {
      padding: 12px 16px; }
      .next-btn .number a:hover {
        background-color: black;
        color: white; }
  .next-btn .up a {
    font-size: 19px;
    padding: 11px 12px; }
    .next-btn .up a:hover {
      background-color: black;
      color: white; }
  .next-btn .down a {
    background-color: #F2F2F2;
    font-size: 19px;
    padding: 11px 12px; }
    .next-btn .down a:hover {
      background-color: black;
      color: white; }

@media screen and (max-width: 767px) {
  nav {
    display: none; }
  .blog h1 {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 24px; }
    .blog h1::before {
      height: 36px; }
  .blog-plan {
    width: 100%; }
    .blog-plan li {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 24px; }
    .blog-plan img {
      margin: 0 0 8px;
      display: block;
      max-width: 100%; }
  .blog-txt {
    width: 100%; }
    .blog-txt h2 {
      font-size: 24px; }
    .blog-txt h3 {
      font-size: 16px; }
    .blog-txt p {
      display: none; }
    .blog-txt .more {
      display: none; }
  .nextpage {
    margin: 64px 0; } }

/*# sourceMappingURL=blog.css.map */
